*{
    margin: 1;
    padding: 0;
}

.cabecalho{
    background-color:red;
    color:black;
    display:flex;
    justify-content:space-around;
    
}
.cabecalhoImagem{
    width:20%;

}

body{
    background-color: rgb(255, 0, 0);
}
li{
    color: rgb(231, 221,221);
}

.cabecalhoImagemItem{
    display: inline-block;
    margin:0 40px;
    padding: 50px 0;
}

li{
    color: rgb(231, 221,221);
}
.sobreImagem{
    width: 20%;
}
.sobre{
    background-image: linear-gradient(#ff0000 , #CA0606);
    color: #FFFFFF;
    display: flex
}